:root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /* Text colors */
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --white-color-90: #FFFFFF99;
    --icons-color: #AFB1B8;


    /* Background colors */
    --section-background-color: #F5F4FA;
    --page-header-border-color: #ECECEC;
    --dark-background-color: #2F303A;
    --hero-btn-hover-color: #188CE8;


    /* Others */
    --border-radius: 4px;
    --trans-dur: 250ms;
    --trans-t-funct: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    /* outline: 2px solid yellow; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    /* outline: 2px solid tomato; */
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.img {
    display: block;
}



.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

/**
  |============================
  | Хедер
  |============================
*/

.page-header {
    border-bottom: 1px solid var(--page-header-border-color);
}

.page-header .container {
    display: flex;
}

/* logo */
.logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
}

.page-header .logo {
    margin-right: 93px;
}

.accent-logo {
    color: var(--accent-color);
}

/* site nav */
.nav {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
}

.nav-list {
    display: flex;
    letter-spacing: 0.02em;
    gap: 50px;
}

.nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--trans-dur) var(--trans-t-funct);
}


.nav-link.current {
    position: relative;
    color: var(--accent-color)
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

/* контакти */
.contacts-header {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 50px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* .contacts-header .item:not(:last-child) {
    margin-right: 50px;
} */

.contacts-header .link {
    display: inline-flex;
    align-items: center;
    color: var(--secondary-text-color);
    transition: color var(--trans-dur) var(--trans-t-funct);
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
}


.contacts-header .link:hover,
.contacts-header .link:focus {
    color: var(--accent-color);
}

.header-icon:hover,
.header-icon:focus {
    fill: currentColor;
}


/**
  |============================
  | Герой
  |============================
*/


.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--dark-background-color);
    text-align: center;

    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}

.main-title {
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* кнопка */

.btn {
    text-align: center;
    border-radius: var(--border-radius);
    border: 0;
    min-height: 32px;
}

.hero-btn {
    justify-content: center;

    cursor: pointer;
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    min-height: 50px;
    transition: background-color var(--trans-dur) var(--trans-t-funct);
}

.hero-btn:hover,
.hero-btn:focus {
    cursor: pointer;
    background-color: var(--hero-btn-hover-color);
}

/**
  |============================
  | Переваги
  |============================
*/

.features {
    padding-bottom: 0;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    width: 270px;

}

.features-icon-block {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--section-background-color);
}

.features-icon {
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.features-title {
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}

.features-description {
    color: var(--secondary-text-color);
    line-height: 1.71;
}


/**
  |============================
  | Чим ми займаэмося
  |============================
*/

.activity-list {
    display: flex;
    gap: 30px;
}

.activity-thumb {
    position: relative;
}

.activity-desc {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    bottom: 0;
    left: 0;

    font-weight: 700;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    padding-top: 27px;
    padding-bottom: 27px;

}


/**
  |============================
  | Команда
  |============================
*/

.section.team {
    background-color: var(--section-background-color);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    background-color: var(--primary-white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.team-position {
    color: var(--secondary-text-color);
    line-height: 1.17;
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
}

.socials-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.socials-list-item .link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color var(--trans-dur) var(--trans-t-funct);
}

.socials-icon {
    fill: var(--icons-color);
    transition: fill var(--trans-dur) var(--trans-t-funct);
}

.socials-list-item .link:hover,
.socials-list-item .link:focus {
    background-color: var(--accent-color);
}

.socials-list-item .link:hover .socials-icon,
.socials-list-item .link:focus .socials-icon {
    fill: var(--primary-white-color);
}

/**
  |============================
  | Clients
  |============================
*/

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-item .link {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--icons-color);
    border-radius: var(--border-radius);
    width: 170px;
    height: 92px;
    fill: var(--icons-color);
    transition: border-color var(--trans-dur) var(--trans-t-funct), fill var(--trans-dur) var(--trans-t-funct);
}

.clients-item .link:hover,
.clients-item .link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}


/**
  |============================
  | Футер
  |============================
*/

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.page-footer {
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer .logo {
    display: flex;
    margin-bottom: 20px;
}

.footer-logo {
    color: var(--primary-white-color);

}

.footer-box-address {

    margin-right: 93px;
}

.address-footer .item:not(:last-child) {
    margin-bottom: 9px;
}

.address-map,
.address-email,
.address-tel {
    font-style: normal;
    line-height: 1.71;
    color: var(--primary-white-color);

}

.address-email,
.address-tel {
    color: var(--white-color-90);
    transition: color var(--trans-dur) var(--trans-t-funct);
}

.address-email:focus,
.address-email:hover,
.address-tel:focus,
.address-tel:hover {
    color: var(--accent-color)
}


.invitation-title {
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);

    margin-bottom: 20px;
}

.join .list {
    display: flex;
    gap: 10px;
}

.join {
    margin-right: 93px;
}

.join .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--trans-dur) var(--trans-t-funct);
}

.join .icon {
    fill: var(--primary-white-color);
}

.join .link:hover,
.join .link:focus {
    background-color: var(--accent-color);
}

/* subscribe */
.subscribe-input {
    display: inline-block;
    width: 358px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-white-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: var(--border-radius);
    margin-right: 12px;
}

.subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);

}

.subscribe-input:focus,
.subscribe-input:hover {
    outline: 0;
    outline-offset: 0;
    border-color: var(--accent-color);
}

.subscribe-label {
    display: flex;
}

.button-footer-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    padding: 0;
    width: 200px;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius);

    transform: background-color var(--trans-dur) var(--timing-function);
}

.footer-icon-send {
    fill: currentColor;
    margin-left: 10px;
}

.button-footer-subscribe:hover,
.button-footer-subscribe:focus {
    background-color: var(--hero-btn-hover-color);
}

/**
  |============================
  | Modal-box
  |============================
*/

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity var(--trans-dur) var(--trans-t-funct);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
}

.backdrop.is-hidden .modal-box {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-box {
    position: relative;
    left: 50%;
    top: 50%;

    display: inline-block;
    width: 528px;
    height: 581px;

    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--trans-dur) var(--trans-t-funct);


    padding: 40px;
}

.btn-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    cursor: pointer;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--trans-dur) var(--trans-t-funct);

}

.btn-modal-close:hover,
.btn-modal-close:focus {
    fill: var(--accent-color);
}

.modal-title {

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-color);

    margin-bottom: 12px;
}


/* form */

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field:last-child {
    margin-bottom: 20px;
}

.label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.form-input {

    width: 100%;
    height: 40px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-input-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
}

.form-field:hover .form-input,
.form-field:focus-within .form-input {
    border-color: var(--accent-color);
}

.form-field:hover .form-input-icon,
.form-field:focus-within .form-input-icon {
    fill: var(--accent-color);
}

.form-input:focus-within {
    outline: 0;
    outline-offset: 0;
}

/* textarea */
.form-textarea {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.form-textarea::placeholder {

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

/* checkbox */
.checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1.71;
    color: #757575;
    margin-left: 14px;
    margin-bottom: 30px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-icon {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: var(--border-radius);
    margin-right: 7px;
    transition: opacity var(--trans-dur) var(--trans-t-funct);
}

.checkbox-icon-svg {
    position: absolute;
    opacity: 0;
    transition: opacity var(--trans-dur) var(--trans-t-funct);
}

.checkbox:checked+.checkbox-icon {
    opacity: 0;
}

.checkbox:checked~.checkbox-icon-svg {
    opacity: 1;
}

.form-policy {
    margin-left: 3px;
    text-decoration-line: underline;
    color: #2196F3;
}


/* form btn */

.form-btn {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 200px;
    padding: 10px 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    transition: background-color var(--trans-dur) var(--timing-function);
}

.form-btn:hover,
.form-btn:focus {
    background-color: var(--hero-btn-hover-color);
}

/**
  |============================
  | Portfolio
  |============================
*/

/* Фільтр */

.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.portfolio-btn {
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--section-background-color);
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 16px;

    padding: 6px 22px;
    transition: background-color var(--trans-dur) var(--trans-t-funct), color var(--trans-dur) var(--trans-t-funct), box-shadow var(--trans-dur) var(--trans-t-funct);
}

.btn.portfolio-btn.active {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    cursor: pointer;
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}





/**
  |============================
  | Портфоліо
  |============================
*/

.project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item .link {
    transition: box-shadow var(--trans-dur) var(--trans-t-funct);
}

.project-item .link:hover,
.project-item .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb-overlay {
    position: relative;
    overflow: hidden;
}

.project-overlay-desc {
    position: absolute;
    transform: translateY(100%);
    transition: transform var(--trans-dur) var(--trans-t-funct);

    padding: 63px 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
}

.project-item:hover .project-overlay-desc {
    transform: translateY(0);
}

.project-content {
    border: 1px solid #EEEEEE;
    background: var(--primary-white-color);
    padding: 20px 24px;
}

.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.project-type {
    line-height: 1.88;
    font-size: 16px;
    color: var(--secondary-text-color);
}