.clients-list {
    display: flex;
    gap: 30px;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid $icons-color;
        border-radius: var(--border-radius);
        width: 170px;
        height: 92px;
        fill: $icons-color;
        @include transition-two(border-color, fill)
    }

    &__link:hover,
    &__link:focus {
        fill: $accent-color;
        border-color: $accent-color;
    }
}