// footer

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer {
    background-color: $dark-background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &__subtitle {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $primary-white-color;
        margin-bottom: 20px;
    }
}

.footer__logo {
    margin-bottom: 20px;
}

// address
.address-box {
    margin-right: 93px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__map,
.address__email,
.address__tel {
    font-style: normal;
    line-height: 1.71;
    color: $primary-white-color;
}

.address__email,
.address__tel {
    color: $white-color-90;
    transition: color $trans-dur $trans-t-funct;
}

.address__email:focus,
.address__email:hover,
.address__tel:focus,
.address__tel:hover {
    color: $accent-color;
}

/* join */

.join {
    margin-right: 93px;
}



.socials-list__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__icon--footer {
    fill: $primary-white-color;
}


/* subscribe */

.subscribe-form {
    display: flex;
    align-items: flex-end;
}

.label-footer {
    display: block;

    &__input {
        display: inline-block;
        width: 358px;
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        background-color: transparent;
        font-size: 16px;
        line-height: 1.25;
        color: $primary-white-color;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: $border-radius;
        margin-right: 12px;
    }

    &__input::placeholder {
        font-size: 16px;
        line-height: 1.25;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
    }

    &__input:focus-within {
        outline: 0;
        outline-offset: 0;
        border-color: $accent-color;
    }

}



.footer-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    padding: 0;
    width: 200px;
    height: 50px;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: $border-radius;
    transform: background-color $trans-dur $trans-t-funct;

    &__icon {
        fill: currentColor;
        margin-left: 10px;
    }

    &:hover,
    &:focus {
        background-color: $hero-btn-hover-color;
    }

}