.team {
    background-color: $section-background-color;
}

.team-member {
    display: flex;
    gap: 30px;

    &__item {
        background-color: $primary-white-color;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__content {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__name {
        font-weight: 500;
        line-height: 1.17;
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__position {
        color: $secondary-text-color;
        line-height: 1.17;
        text-align: center;
        font-size: 16px;
        margin-bottom: 16px;
    }

}