@charset "UTF-8";
/* Fonts */
/* Text colors */
/* Background colors */
/* Others */
/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/utils/_visually-hidden.scss */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/base/_common.scss */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/base/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* line 13, D:/Навчання/homework/goit-markup-hw-07/sass/base/_reset.scss */
.item {
  list-style-type: none;
}

/* line 17, D:/Навчання/homework/goit-markup-hw-07/sass/base/_reset.scss */
.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* line 23, D:/Навчання/homework/goit-markup-hw-07/sass/base/_reset.scss */
.img {
  display: block;
}

/* line 27, D:/Навчання/homework/goit-markup-hw-07/sass/base/_reset.scss */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/base/_section.scss */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/base/_container.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/components/_hero-title.scss */
.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/components/_section-title.scss */
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/components/_logo.scss */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
}

/* line 9, D:/Навчання/homework/goit-markup-hw-07/sass/components/_logo.scss */
.logo__accent--black {
  color: #000000;
}

/* line 13, D:/Навчання/homework/goit-markup-hw-07/sass/components/_logo.scss */
.logo__accent-white {
  color: #FFFFFF;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/components/_btn.scss */
.btn {
  font-family: Roboto, sans-serif;
  text-align: center;
  border-radius: 4px;
  border: 0;
  min-height: 32px;
  cursor: pointer;
}

/* social-list */
/* line 3, D:/Навчання/homework/goit-markup-hw-07/sass/components/_social-list.scss */
.socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* line 8, D:/Навчання/homework/goit-markup-hw-07/sass/components/_social-list.scss */
.socials-list__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 18, D:/Навчання/homework/goit-markup-hw-07/sass/components/_social-list.scss */
.socials-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 23, D:/Навчання/homework/goit-markup-hw-07/sass/components/_social-list.scss */
.socials-list__link:hover, .socials-list__link:focus {
  background-color: #2196F3;
}

/* line 30, D:/Навчання/homework/goit-markup-hw-07/sass/components/_social-list.scss */
.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: #FFFFFF;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 14, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

/* line 19, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.backdrop.is-hidden .modal-box {
  transform: translate(-50%, -50%) scale(1.5);
}

/* line 24, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-box {
  position: relative;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 41, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-box__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

/* line 50, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 68, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: #2196F3;
}

/* form */
/* line 77, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

/* line 82, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field:last-child {
  margin-bottom: 20px;
}

/* line 86, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field__name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

/* line 95, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

/* line 104, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

/* line 113, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field:focus-within .modal-field__input {
  border-color: #2196F3;
}

/* line 117, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field:focus-within .modal-field__icon {
  fill: #2196F3;
}

/* line 121, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field__input:focus-within {
  outline: 0;
  outline-offset: 0;
}

/* textarea */
/* line 127, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

/* line 137, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.modal-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* checkbox */
/* line 150, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* line 164, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.checkbox-block {
  text-align: center;
  margin-bottom: 30px;
}

/* line 169, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.checkbox-field {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.71;
  color: #757575;
}

/* line 183, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 192, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.checkbox:checked + .checkbox__icon {
  border-color: transparent;
  background-color: #2196F3;
}

/* line 198, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.policy {
  margin-left: 3px;
  text-decoration-line: underline;
  color: #2196F3;
}

/* form btn */
/* line 207, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 226, D:/Навчання/homework/goit-markup-hw-07/sass/components/_modal.scss */
.form-btn:hover, .form-btn:focus {
  background-color: #188CE8;
}

/* line 3, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.page-header {
  border-bottom: 1px solid #ECECEC;
}

/* line 6, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.page-header__container {
  display: flex;
}

/* logo */
/* line 15, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.page-header__logo {
  margin-right: 93px;
}

/* site-nav */
/* line 20, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
}

/* line 29, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.nav__list {
  display: flex;
  letter-spacing: 0.02em;
  gap: 50px;
}

/* line 36, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 41, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.nav__link--current {
  position: relative;
  color: #2196F3;
}

/* line 46, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

/* line 59, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

/* контакти */
/* line 66, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* line 76, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.contacts__link {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 83, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

/* line 88, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* line 93, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-header.scss */
.contacts__icon:hover, .contacts__icon:focus {
  fill: currentColor;
}

/* line 1, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_hero.scss */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

/* line 17, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_hero.scss */
.hero__btn {
  justify-content: center;
  color: #FFFFFF;
  background-color: #2196F3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 31, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_hero.scss */
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

/* line 3, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.footer-container {
  display: flex;
  align-items: baseline;
}

/* line 8, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 13, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.footer__subtitle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* line 26, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.footer__logo {
  margin-bottom: 20px;
}

/* line 31, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.address-box {
  margin-right: 93px;
}

/* line 35, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

/* line 39, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.address__map,
.address__email,
.address__tel {
  font-style: normal;
  line-height: 1.71;
  color: #FFFFFF;
}

/* line 47, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.address__email,
.address__tel {
  color: #FFFFFF99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 53, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.address__email:focus,
.address__email:hover,
.address__tel:focus,
.address__tel:hover {
  color: #2196F3;
}

/* join */
/* line 62, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.join {
  margin-right: 93px;
}

/* line 68, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.socials-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 72, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.socials-list__icon--footer {
  fill: #FFFFFF;
}

/* subscribe */
/* line 79, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.subscribe-form {
  display: flex;
  align-items: flex-end;
}

/* line 84, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.label-footer {
  display: block;
}

/* line 87, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.label-footer__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

/* line 105, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.label-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

/* line 112, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.label-footer__input:focus-within {
  outline: 0;
  outline-offset: 0;
  border-color: #2196F3;
}

/* line 122, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.footer-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 141, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.footer-button__icon {
  fill: currentColor;
  margin-left: 10px;
}

/* line 146, D:/Навчання/homework/goit-markup-hw-07/sass/layout/_page-footer.scss */
.footer-button:hover, .footer-button:focus {
  background-color: #188CE8;
}

/*# sourceMappingURL=main.css.map */