@mixin transition($type) {
    transition: $type $trans-dur $trans-t-funct;
}

@mixin transition-two($type-a, $type-b) {
    transition: $type-a $trans-dur $trans-t-funct,
        $type-b $trans-dur $trans-t-funct;
}

@mixin transition-three($type-a, $type-b, $type-c) {
    transition: $type-a $trans-dur $trans-t-funct,
        $type-b $trans-dur $trans-t-funct, $type-c $trans-dur $trans-t-funct;
}