/* Fonts */
$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

/* Text colors */
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$white-color-90: #FFFFFF99;
$icons-color: #AFB1B8;


/* Background colors */
$section-background-color: #F5F4FA;
$page-header-border-color: #ECECEC;
$dark-background-color: #2F303A;
$hero-btn-hover-color: #188CE8;


/* Others */
$border-radius: 4px;
$trans-dur: 250ms;
$trans-t-funct: cubic-bezier(0.4, 0, 0.2, 1);